

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-range {
  --bar-background: #D7D7D7;
  --bar-background-active: #DDA932;
  --bar-height: 8px;
  --bar-border-radius: 8px;
  --knob-background: #fff;
  --knob-size: 40px;
  --knob-box-shadow: 0px 0px 0px 1px #060101;
  --pin-background: #fff;
  --pin-color: #fff;
}
ion-progress-bar {
  --background: #A2C5C4;;
  --progress-background: #02423F;
  width: 100%;
  height: 0.6rem;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 10em;
}

.myRange{
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0px
}

.myProgressbarDiv{
  padding: 1em;
  --min-height: 80px;
  --padding-top: 20px;
}

.myRank{
  padding: 1em;
}
div> h1 {
  text-align: left;
  font-weight: bold;
  padding: 0.5em;
}

ion-card{
  border-radius: 1em;
  box-shadow: none;
}

ion-card-content{
  color: #060101;
  background-color: #DFEEEC;
  text-align: left;
}

ion-card-content > span{
  font-weight: 300;
  font-size: 1.5rem;
}

.label-left{
  padding-left: 0.5em;
  float: left;
}
.label-right{
  padding-right: 0.5em;
  float: right;
}
ion-grid{
  padding-top: 0px;
  padding-bottom: 0px;
}
 ion-col{
  padding-top: 0px;
  padding-bottom: 0px;

}




